@import url('https://fonts.googleapis.com/css?family=Montserrat|ZCOOL+QingKe+HuangYou');
h1 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #1a1423;
}
h2 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	color: #3D314A;
}
p {
	font-family: 'Montserrat', sans-serif;
}
div{
	margin: 20px;
}
.bio-images {
	float: left; 
	margin-right: 10px; 
	padding: 2px;
}
.profile-images {
	margin-right: auto;
	margin-left: auto;
	display: block;
	border-radius: 50%;
}
.center{
	text-align: center;
}